

// Variables
$primary-color: #f39c12; // Color principal
$secondary-color: #2980b9; // Color secundario
$font-family: 'Arial', sans-serif; //Fuente de letras
$header-Border-radius: 10px; // Borde radius
